.Aim{
    display: flex;
    gap: 15%;
    /* background-color:rgb(254, 247, 247);  */
     margin-top: 6%;
     margin-left: 3%;

} 
h3{
    color: rgb(34, 179, 159);
    margin-left: -50%;
    font-size: 20px;

}
h2{
    margin-left: -40%;
}
.EducationalValues{
    color: black;
    width: 60%;
}
.Sustainability{
    color: black;
    width: 60%;
}
.Educationalgoals{
    color: black;
    width: 60%;
}
.WasteReduction{
    color: black;
    width: 60%;
}
.roadmap{
    background-color:rgb(254, 247, 247); 

     
}
.Roadmap{ 
         background-color:rgb(254, 247, 247); 
         height: 550px;

 }
 .Goals{
    margin-left: -18%;

 }

.Heading{
    margin-top: 8%;
}
.Values{
    margin-left: 14%;

}


@media screen and (max-width:386px){
    .Aim{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        
    }
    .Roadmap{
        margin-left: -26%;
    }
    
    
    h2{
        margin-left: 30px;
    }
    h3{
        margin-left: 72px;
    }
    .EducationalValues{
        width: 80%;
        margin-left: 26px;

    }
    .Educationalgoals{
        width: 80%;
        margin-left: 72px;

    }
    .Sustainability{
        width: 85%;
        margin-left: 28px;

    }
    .WasteReduction{
        width: 80%;
        margin-left: 71px;

    }
    /* .ppp{
        margin-left: 200px;
    } */
    h1{
        font-size: 40px;
        margin-left: 130px;
    }
    h2{
        font-size: 20px;
    }
    
    p{
        font-size: 15px;
    }
    .roadmap{
        /* height: 500px; */
        width: 410px;
    }
    .Goals{
        margin-left: 8%;

    }
    
    .Sustainability{
        /* margin-left: 26px; */
    }
    .Values{
        margin-left: 18%;
    }
    
    

    
}
@media screen and (min-width:387px) and (max-width:412px){
    .Aim{
        display: flex;
        flex-wrap: wrap;
    }
    .Goals{
        margin-left: -2px;
    }
    .Values{
        margin-left: -2%;
    }
    .EducationalValues{
        width: 300px;
    }
    .Sustainability{
        width: 300px;
    }
    .Educationalgoals{
        width: 300px;
    }
    .WasteReduction{
        width: 300px;
    }
    h2{
        margin-left: -160px;
    }
    
}

@media screen and (min-width:413px) and (max-width:500px){
    .Aim{
        margin-left: -12%;
        display: flex;
        flex-wrap: wrap;
    }
    .Goals{
        margin-left: 10%;
    }
    .Values{
        margin-left: 10%;
    }
    h2{
        margin-left: -240px;
    }
    h3{
        margin-left: -220px;
    }
    /* .pp{ */
        /* width: 5px;
    }
    .ppp{
        width: 5px;

    }
    .pppp{

    }
    .ppppp{
        
    } */
    
}
@media screen and (min-width:720px) and (max-width:831px){
    .Aim{
        display: flex;
        flex-wrap: wrap;
    }
    .Roadmap{
        height: 650px;
    }
    .Goals{
        margin-left: -4%;
    }
    .Values{
        margin-left: -4%;
    }
    h3{
        margin-left: -40%;
    }
    
}
@media screen and (min-width:543px) and (max-width:719px){
    .Aim{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        margin-left: 8%;
    }
   
    .Sustainability{
        margin-left: 87px;

    }
    .EducationalValues{
        margin-left: 87px;
    }
    .Educationalgoals{
        margin-left: 87px;
    }
    .WasteReduction{
        margin-left: 87px;
        
    }
    .roadmap{
        height: 680px;
    }
  
    h2{
        margin-left: -100px;
    }
    h3{
        margin-left: -100px;
    }
    .Goals{
        font-size: 10px;
        margin-left: 300px;

    }
    .Values{
        font-size: 10px;
        margin-left: 600px;
    }
    



    
}
@media screen and (min-width:819px) and (max-width:1000px){
    .Aim{
        display: flex;
        flex-wrap: wrap;
    }
    .Goals{
        margin-left: -12px;
    }
    .Values{
        margin-left: -12px;
    }
    h3{
        margin-left: -380px;
    }
    h2{
        margin-left: -380px;
    }
    
}
@media screen and (min-width:501px) and (max-width:542px){
    .Aim{
        font-size: 100px;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-left: -16%;
    }
    .Goals{
        margin-left: 9%;

        

    }
    h2{
        margin-left: -117px;
    }
    h3{
        margin-left: -117px;

    }
    
    
    .Values{
        margin-left: 9%;
    }
    h1{
        font-size: 35px;
    }
    p{
        font-size: 20px;
        text-align: left;
        margin-left: 33%;
        font-size: 15px;
    }
    .EducationalValues{
        margin-left: 200px;
    }.Sustainability{
        margin-left: 200px;
    }
    .Educationalgoals{
       margin-left: 200px; 
    }
    .WasteReduction{
        margin-left: 200px;
    }
    

}


@media screen and (min-width:1001px) and (max-width:1024px){
    .Aim{
        display: flex;
        flex-direction: row;
        margin-left: -13%;
        margin-top: 100px;
        
        
    }
    
    .roadmap{
        height: 540px;
    }
    .Roadmap{
        height: 100px;
    }
    .Goals{
        margin-left: -40px;


    }
    .Values{
        margin-left: 200px;

    }
    
    h3{
        margin-left: -201px;

    }
    h2{
        margin-left: -12px;
    }
    .EducationalValues{
        margin-left: 5px;
        width: 400px;
    } 
    .Sustainability{
        margin-left: 5px;
        width: 400px;
        
    }
     .Educationalgoals{
        margin-left: -18px;
        width: 400px;
    } 
     .WasteReduction{
        margin-left: -18px;
        width: 400px;
    }  
   

    
}
@media screen and (min-width:1025px) and (max-width:1280px){
    .Aim{
        margin-left: -11%;
    }
    .Goals{
        margin-left: -40px;

    }
    .Values{
        margin-left: 280px;

    }
     .WasteReduction{ 
        width: 400px;
    }
    .Educationalgoals{

        width: 400px;
        
    }
    .EducationalValues{
        width: 450px;
    }
    .Sustainability{
        width: 450px;

        
    } 


    
}